---
import Layout from "../../layouts/Layout.astro";
import ColorBlindness from "../../components/ColorBlindness.svelte";

import "../../styles/utilities.font.css";

const pageTitle = "APCA＆色覚多様性シミュレーション";
---

<Layout title={pageTitle}>
  <main id="mainContents" class="container">
    <ColorBlindness client:load />
  </main>
</Layout>
