---
import Layout from "../layouts/Layout.astro";

const pageTitle = "APCAコントラスト日本語フォント検証";
---

<Layout title={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
    <p class="noto-sans-jp weight300">日本語文章です。</p>
    <p class="noto-sans-jp weight400">日本語文章です。</p>
    <p class="noto-sans-jp weight700">日本語文章です。</p>
    <p class="noto-serif-jp weight300">日本語文章です。</p>
    <p class="noto-serif-jp weight400">日本語文章です。</p>
    <p class="noto-serif-jp weight700">日本語文章です。</p>
  </main>
</Layout>

<script>
  console.log("Welcome, browser console!");
</script>

<style>
  @layer utilities.font {
    .noto-sans-jp {
      font-family: "Noto Sans JP";
    }

    .noto-serif-jp {
      font-family: "Noto Serif JP";
    }
    .weight300 {
      font-weight: 300;
    }

    .weight400 {
      font-weight: 400;
    }

    .weight700 {
      font-weight: 700;
    }
  }
</style>
