---
import Layout from "../layouts/Layout.astro";
import ApcaInformation from "../components/ApcaInformation.astro";
import ContrastCalculator from "../components/ContrastCalculator.svelte";

import "../styles/utilities.font.css";

const pageTitle = "APCAコントラスト日本語フォント検証";
---

<Layout title={pageTitle}>
  <main id="mainContents" class="container">
    <ContrastCalculator client:load />
    <ApcaInformation />
  </main>
</Layout>

<style>
  @layer base {
    .container {
      padding-top: 0;
      padding-bottom: 2rem;
    }
  }
</style>
