---
import { Conformance, Version, Revised } from "../conf/apca-font2Lc-table.json";
---

<section class="aboutAPCA">
  <h2>APCAと基準値について</h2>
  <p>本サイトではAPCAそのものの説明はしません。<br>
    本家サイトの<a href="https://git.myndex.com/">Accurate ContrastUsing the APCA</a>などからリソースを参照してください。</p>
  <p>
    適応したAPCAコントラスト基準は以下の通りです。公式サイトのフォントサイズとウェイトの適合テーブルからデータを作成していますが最新化されていない場合があります。<br>
    最新の基準は<a href="https://www.myndex.com/APCA/"
      >APCA Contrast Calculator</a
    >を参照してください。
  </p>
  <ul>
    <li>適応基準：{Conformance}</li>
    <li>バージョン：{Version}</li>
    <li>改訂日：{Revised}</li>
  </ul>
  <h3>フォントサイズ90%調整版について</h3>
  <p>APCAのフォントサイズの基準値は、x-heightが0.5以上の欧文フォントを前提に作成されています。また、ウェイトについてはHelveticaやArialなどの高度に標準化されたリファレンスフォントに基づく、とされています</p>
  <p>実効的な文字サイズがフォントのx-heightに影響される欧文フォントと違い、日本語のフォントはフォントサイズと実効的な文字のサイズの違いが小さいため、同じフォントサイズを適応すると欧文より日本語の方が文字サイズが大きく見えることになります。<br>
    APCAのコンセプトから考えると、基準値をそのまま日本語に適応した場合にサイズが過大である可能性があるため、サイズを90%に調整した例を作成しました。</p>
  <p>90%という値は作成者が作業しながら欧文と目視で見比べながら決めた値であり、何らの科学的調査・検討をおこなったものではありません。ぜひ、あなたもオリジナルの設定とラテンフォント例、90%の例を見比べてみてください。<br>
    もう少し詳しい説明はQiitaの記事、<a href="https://qiita.com/shunito/items/4aecd32fcb3f22064e4a">APCA何もわからない</a>を参照ください。
  </p>

  <h2>ライセンス</h2>
  <h3>APCAに関するライセンス</h3>
  <p>本シミュレーターのAPCAコントラスト値の計算は、<a href="https://github.com/Myndex/apca-w3">APCA™ for W3C & WCAG3</a>の提供するNode moduleを利用しています。<br>
    利用制限などがありますので、詳細についてはAPCA™ for W3C & WCAG3のライセンスを参照してください。<br>
    <a href="https://github.com/Myndex/apca-w3/blob/master/LICENSE.md">APCA™ for W3C & WCAG3 LICENSE</a></p>
  <h3>フォントに関するライセンス</h3>
  <p>日本語フォントは<a href="https://fonts.google.com/">Google Fonts</a>を利用しています。<br>
    個々のフォントのライセンスは、<a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">Open Font License</a>で提供されています。
  </p>
  <p>その他の部分は、本サイトのフレームワークであるAstroに習いMITライセンスとします。<br>
    リソースはGitHubに公開していますので、質問やバグの報告はGitHubのイシューを利用していただけると幸いです。<br>
  <a href="https://github.com/shunito/apca-calculator-ja">APCAコントラスト日本語フォント検証 GitHubリポジトリ</a></p>

</section>

<style>
  .aboutAPCA {
    margin: 0;
  }
  .aboutAPCA h2,
  .aboutAPCA h3 {
    margin-bottom: 1rem;

  }
</style>
