---
import { Conformance, Version, Revised } from "../conf/apca-font2Lc-table.json";

---

<section>
    <h2>APCAと基準値について</h2>
    <p>適応したAPCAコントラスト基準は以下の通りです。公式サイトのフォントサイズとウェイトの適合テーブルからデータを作成していますが最新化されていない場合があります。</p>
    <ul>
        <li>適応基準：{Conformance}</li>
        <li>バージョン：{Version}</li>
        <li>改訂日：{Revised}</li>
    </ul>
    <p>最新の基準は<a href="https://www.myndex.com/APCA/">APCA Contrast Calculator</a>を参照してください。</p>
    <p>あとで書く</p>
</section>
