---
---

<footer class="container footer">
  <nav>
    <ul>
      <li>
        <cite
          ><a href="https://github.com/Myndex/SAPC-APCA" class="secondary"
            >SAPC-APCA</a
          >
        </cite>
      </li>
      <li>
        <a
          href="https://github.com/Myndex/apca-w3/blob/master/LICENSE.md"
          class="secondary">APCA<sup>TM</sup> for W3C & WCAG3 LICENSE</a
        >
      </li>
      <li>
        <a
          href="https://github.com/shunito/apca-calculator-ja"
          class="secondary">GitHub Repository</a
        >
      </li>
      <li></li>
    </ul>
  </nav>
  <address>
    <a href="https://twitter.com/shunito" class="secondary"
      >Shunsuke.ito (twitter)</a
    >
  </address>
</footer>

<style>
  .footer {
    padding: 1rem 0;
    font-size: small;
  }
</style>
