---
export interface Props {
  title: string;
}

import GoogleFont from "../components/GoogleFont.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <GoogleFont />
  </head>
  <body>
    <Header title={title} />
    <slot />
    <Footer />
  </body><style is:global>
    @layer i18n {
      html[lang="ja"] {
        --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
          "Cantarell", "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo,
          sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
      }
    }

    @layer utilities.a11y {
      .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
    }

    .page-title {
      margin: 0;
    }
  </style>
</html>
