---
export interface Props {
  title: string;
}

import GoogleFont from "../components/GoogleFont.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="WCAG 3.0においてコントラスト比に関する新しい基準として提唱されているAPCAについて、日本語フォントでの表示を検証。"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KDJRBW2");
    </script>
    <!-- End Google Tag Manager -->

    <GoogleFont />
  </head>
  <body>
    <div class="page">
      <Header title={title} />
      <slot />
      <Footer />  
    </div>
  </body>
</html>